.home {
  padding: 20px;
}

.filtros {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

input, select {
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.linha-par {
  background-color: #f9f9f9;
}

.linha-impar {
  background-color: #fff;
}

.botao {
  background-color: #f68411;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.botao:hover {
  background-color: #d66f0b;
}
