.detalhes {
  padding: 20px;
}

.post {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.post button {
  background-color: #f68411;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.post button:hover {
  background-color: #d66f0b;
}
