.header {
  background-color: #222;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.header nav a.ativo {
  text-decoration: underline;
  color: #f68411;
}
